@import url(https://fonts.googleapis.com/css?family=Pacifico);

html {
    max-width: 100%;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.nav-link {
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Kaushan Script', 'Pacifico', 'Trebuchet MS', sans-serif;
}

.nav-link:hover {
	background-color: #2394a3;
	color: white;
}

.bg-primary, .btn-primary {
	background-color: #922667 !important;
}

.bg-secondary, .btn-secondary {
	background-color: #216093 !important;
}

.home-slider-container {
	background: url(https://paddywackgifts.com/img/drops-feather-feathers-66875.jpg) no-repeat center center;
	text-align: center;
	min-height: 1rem;
}

@media (min-width: 576px) {
	.home-slider-container {
		padding: 4rem 2rem;
		margin-bottom: 2rem;
	}
}

@media (max-width: 575px) {
	.home-slider-container {
		padding: 2rem 1rem;
		margin-bottom: 2rem;
	}
}

.carousel-container {
	height: 25rem;
	overflow: hidden
}

.card-img-placeholder {
	height: 19rem !important;
	width: 100% !important;
	overflow: hidden !important;
	position: relative !important;
}

.card-img-placeholder img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 19rem;
}
